.additional-list {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
  padding-bottom: 51px;

  @media (min-width: @tablet-width) {
    flex-flow: row;
    padding-bottom: 59px;
  }
}

.additional-list__description-br {
  display: none;
}

.additional-list__item {
  width: 284px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "grid-icon grid-title"
    "grid-icon grid-description";

  &:nth-child(1) {
    @media (min-width: @tablet-width) {
      .additional-list__description {
        width: 180px;
      }
    }

    @media (min-width: @desktop-width) {
      .additional-list__description {
        width: 305px;
      }
    }
  }

  &:nth-child(2) {
    @media (max-width: @mobile-width-only) {
      .additional-list__title,
      .additional-list__description {
        margin-left: 5px;
        margin-right: -5px;
      }
    }

    @media (min-width: @tablet-width) {
      & .additional-list__description {
        width: 154px;
      }
    }

    @media (min-width: @desktop-width) {
      .additional-list__description {
        width: 292px;
      }
    }
  }

  &:nth-child(3) {
    @media (max-width: @mobile-width-only) {
      .additional-list__title,
      .additional-list__description {
        margin-left: -2px;
      }

      .additional-list__title {
        margin-top: 30px;
      }
    }

    @media (min-width: @tablet-width) {
      & .additional-list__description {
        width: 192px;
      }
    }

    @media (min-width: @desktop-width) {
      .additional-list__description {
        width: 244px;
      }

      .additional-list__description-br {
        display: block;
      }
    }
  }

  @media (min-width: @tablet-width) {
    width: 256px;
    grid-template-areas:
      "grid-icon"
      "grid-title"
      "grid-description";
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.additional-list__icon() {
  grid-area: grid-icon;
  width: 40px;
  padding-right: 7px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.additional-list__icon-home {
  .additional-list__icon;
  margin-top: 23px;

  @media (min-width: @tablet-width) {
    margin-right: 84px;
    margin-top: 56px;
    width: 75px;
    height: 80px;
    margin-bottom: 1px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 157px;
  }
}

.additional-list__icon-food {
  .additional-list__icon;
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    margin-right: 84px;
    margin-top: 56px;
    width: 76px;
    height: 82px;
    margin-bottom: -2px;
  }

  @media (min-width: @desktop-width) {
    width: 77px;
    height: 83px;
    margin-bottom: -5px;
    margin-right: 155px;
  }
}

.additional-list__icon-gift {
  .additional-list__icon;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    margin-right: 90px;
    margin-top: 55px;
    width: 64px;
    height: 80px;
    margin-bottom: 1px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 163px;
  }
}

.additional-list__title {
  display: block;
  margin: 31px 0 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  grid-area: grid-title;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin: 22px 0 23px;
    font-size: 21px;
  }
}

.additional-list__description {
  margin: 0 auto;
  text-transform: uppercase;
  grid-area: grid-description;

  @media (min-width: @tablet-width) {
    text-align: center;
    min-height: 63px;
  }
}
