.additional-list {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
  padding-bottom: 51px;

  @media (min-width: @tablet-width) {
    flex-flow: row;
    padding-bottom: 60px;
  }
}

.additional-list__description-br {
  display: none;
}

.additional-list__item {
  width: 284px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "grid-icon grid-title"
    "grid-icon grid-description";

  &:nth-child(1) {
    @media (min-width: @tablet-width) {
      .additional-list__description {
        width: 180px;
      }
    }

    @media (min-width: @desktop-width) {
      .additional-list__description {
        width: 305px;
      }
    }
  }

  &:nth-child(2) {
    @media (max-width: @mobile-width-only) {
      .additional-list__title,
      .additional-list__description {
        margin-left: 5px;
        margin-right: -5px;
      }
    }

    @media (min-width: @tablet-width) {
      & .additional-list__description {
        width: 154px;
      }
    }

    @media (min-width: @desktop-width) {
      .additional-list__description {
        width: 292px;
      }
    }
  }

  &:nth-child(3) {
    @media (max-width: @mobile-width-only) {
      .additional-list__title,
      .additional-list__description {
        margin-left: -2px;
      }

      .additional-list__title {
        margin-top: 30px;
      }
    }

    @media (min-width: @tablet-width) {
      & .additional-list__description {
        width: 192px;
      }
    }

    @media (min-width: @desktop-width) {
      .additional-list__description {
        width: 244px;
      }

      .additional-list__description-br {
        display: block;
      }
    }
  }

  @media (min-width: @tablet-width) {
    width: 256px;
    grid-template-areas:
      "grid-icon"
      "grid-title"
      "grid-description";
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.additional-list__icon() {
  grid-area: grid-icon;
  width: 47px;
  background-position: top 22px left;
  background-size: auto;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.additional-list__icon-home {
  .additional-list__icon;
  background-image: url("../img/icon-home.svg");

  @media (min-width: @tablet-width) {
    margin-top: 56px;
    background-position: top;
    background-size: 77px 78px;
    width: 80px;
    height: 80px;
  }
}

.additional-list__icon-food {
  .additional-list__icon;
  background-image: url("../img/icon-food.svg");

  @media (min-width: @tablet-width) {
    margin-top: 56px;
    background-position: center left;
    background-size: 76px 78px;
    width: 78px;
    height: 80px;
  }
}

.additional-list__icon-gift {
  .additional-list__icon;
  background-image: url("../img/icon-gift.svg");

  @media (min-width: @tablet-width) {
    margin-top: 56px;
    background-position: bottom 2px left 1px;
    background-size: 79.5px 78.5px;
    width: 85px;
    height: 80px;
  }
}

.additional-list__title {
  display: block;
  margin: 31px 0 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  grid-area: grid-title;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin: 22px 0 23px;
    font-size: 21px;
  }
}

.additional-list__description {
  margin: 0 auto;
  text-transform: uppercase;
  grid-area: grid-description;

  @media (min-width: @tablet-width) {
    text-align: center;
    min-height: 63px;
  }
}
