.copyright {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    margin-right: 11px;
  }

  &:hover {
    fill: #81b3d2;

    .copyright__text {
      color: #81b3d2;
    }
  }

  &:active {
    fill: #b3b3b3;

    .copyright__text {
      color: #b3b3b3;
    }
  }
}

.copyright__text {
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-right: 12.5px;
  margin-left: 2px;
  max-width: 140px;

  @media (min-width: @tablet-width) {
    max-width: 150px;
  }

  @media (min-width: @desktop-width) {
    max-width: 200px;
  }
}
