.feedback {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    width: 648px;
    margin: 0 auto;
  }
}

.feedback__filter {
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 100%;

    &:nth-child(1) {
      padding-right: 44px;
      border-right: 1px solid #dbdbdb;
      margin-bottom: 47px;
    }

    &:nth-child(2) {
      padding-left: 44px;
      margin-bottom: 47px;
    }

    &:not(:nth-child(1)):not(:nth-child(2)) {
      grid-column: span 3;
    }
  }
}

.feedback__submit {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto 19.5px;
  align-items: flex-end;
}

.feedback__button {
  width: 100%;
}

.feedback__explanation {
  margin-top: 3px;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
