.foto-item {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.foto-item__wraper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.foto-item__image {
  margin-bottom: 15px;
}

.foto-item__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}

.foto-item__author {
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
}

.foto-item__like-icon {
  opacity: 0.3;
  margin-right: 14px;
  cursor: pointer;
}

.foto-item__like-amount {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
