.main-nav {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
}

.main-nav__toggle {
  margin: 17px 21px 17px auto;
  width: 23px;
  height: 22px;
}

.main-nav__list {
  position: absolute;
  z-index: 1;
}
