.secondary-first-screen {
  padding-bottom: 28px;
  border-bottom: 1px solid #e5e5e5;
}

.secondary-first-screen__header {
  position: relative;
  background-image: url("../img/mountains-sedona-second.jpg");
  background-position: bottom;
  background-size: auto;
  background-repeat: no-repeat;
  padding-top: 52px;
  padding-bottom: 1px;
}

.secondary-first-screen__header-text {
  display: block;
  margin: 0 auto 67px;
}

.secondary-first-screen__header-divider {
  position: absolute;
  bottom: 0;
}

.secondary-first-screen__text-heading {
  margin: 36px auto 24px;
}

.secondary-first-screen__text-bottom {
  margin: 0 auto;
}
