.social__list {
  display: grid;
  margin: 34px auto 40px;
  padding: 0;
  grid-template-columns: repeat(3, auto);
  gap: 6px;
  list-style-type: none;
}

.social__link {
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #81b3d2;
  display: block;
  width: 48px;
  height: 48px;
}

.social__link--vkontakte {
  background-image: url("../img/social-vk.svg");
}

.social__link--telegram {
  background-image: url("../img/social-telegram.svg");
}

.social__link--youtube {
  background-image: url("../img/social-youtube.svg");
}
